*{
    margin: 0;
    padding: 0;
}


.content-wrapper {
    display: flex;
    border: 1px solid #000;
    /*display: ;*/
    flex-wrap: wrap;
    min-width: 400px;
    width: 99vw;
    height: 99vh;
    background-color: black;
    padding: 24px;
    gap: 24px;

}

.fila {
    display: flex;
    width: 90%;
    justify-content: space-between;
    /* align-items: center; */
    /*margin-left: 5%;*/
    /*margin-right: 2%;*/
    /*margin-top: 4%;*/
    padding: 24px;   
    gap: 24px;

}

.fila4 {
    display: flex;
    width: 80%;
    justify-content: center;
    justify-content: center align-items:center;
    padding: 24px;
    margin-left: 4%;
    gap: 24px;
}

.box1 {
    display: flex;
    border: 2px solid#000;
    background-color: aqua;
    width: 30%;
    height: 15vh;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 75px;

}

.box2 {
    border: 2px solid#000;
    background-color: aqua;
    width: 30%;
    height: 15vh;
}

.box3 {
    border: 2px solid #000;
    background-color: aqua;
    width: 30%;
    height: 15vh;
}
 .box4 {
   
    border: 2px solid #000;
    background-color: aqua;
    width: 33%;
    height: 15vh;

}