*{
    margin: 0;
    padding: 0;
}
.content-wrapper{
    border: 2px solid #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 400px;
    gap: 24px;
}
.content-wrapper .box{
    border: 1px solid #024059;
    background-color: pink;
    width: 48.5%;
    color: #000;
    font-size: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-wrapper .box.box1 {
    width: 100%;
    border: 5px solid purple;
}